node_modules

/build
/public/build
.env

/app/styles/tailwind.css

.yarn
.yarnrc.yml
node_modules
dist
package-lock.json
.pnp.js
projects/web/assets
projects/web/locales
bundle.js
lib
packages/ui/storybook-static
projects/wander/public/icons.json
**/.cache/**
**/build/**
**/tools/*.json

